@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import 'node_modules/bootstrap/scss/bootstrap';
// boostrap replace
$blue: $primary;
$secondary: $secondary;

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}
.navbar-dark .navbar-toggler {
  border: 0;
  outline: 0;
  color: transparent;
}
.navbar-dark .navbar-toggler-icon {
  width: 5vh;
  height: 5vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.b-sidebar > .b-sidebar-header .close {
  border: 0;
  background-color: transparent;
}

// common
body {
  font-family: 'Roboto', 'sans-serif', 'Microsoft JhengHei';
  //   font-family: 'Noto Sans TC';
  line-height: 1.6;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 0;
}
.contain {
  margin: 0 auto;
  max-width: 1280px;
}
.btn-fixed {
  width: 50px;
  padding: 6px;
  background-color: rgba($primary, 0.7);
  border-color: rgba(#fff, 0.2);
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: $primary;
}
.btn {
  transition: all 0.5s;
}
@mixin hoverColor($color) {
  background-color: darken($color, 10%);
  box-shadow: 3px 3px 6px rgba(#000, 0.5);
}
.btn-secondary:hover {
  @include hoverColor($secondary);
}
.btn-primary:hover {
  @include hoverColor($primary);
}
.btn-light:hover {
  @include hoverColor(#fff);
}
.line-fill-blue {
  background-color: $primary;
  mask: url('../images/icons/line-fill.svg') no-repeat center center/ 100% 100%;
  -webkit-mask: url('../images/icons/line-fill.svg') no-repeat center center/
    100% 100%;
}
