$primary: #003153;
$secondary: #ffd55e;

$h3: calc(1.3rem + 0.6vw);
$h4: calc(1.275rem + 0.3vw);
$h5: 1.25rem;
$sub-title: 1.125rem;
$small: 0.875rem;

$header-h: calc(5vh + 0.3125rem * 2 + 0.5rem * 2);
$footer-h: 163.5px;
$bottomBar-h: calc(45px + 0.8vh);
$wrapper-t: 6vh;
$wrapper-b: 6vh;
$wrapper-h: calc(
  100vh - #{$footer-h} - #{$wrapper-t} - #{$wrapper-b} - #{$header-h}
);

%sub-title {
  font-size: $sub-title;
  font-weight: 500;
}

:root {
  --primary: #003153;
  --secondary: #ffd55e;
}
