<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="專注雲端廚房|幽靈廚房|虛擬廚房，此趨勢產業生態：線上項目1.「精準快速媒合-店面房東、餐飲業者」、線下項目2.「台中北區-廚位空間、營運設備出租」">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>網廚 NETchef-雲端廚房|幽靈廚房|虛擬廚房、店面出租|分租|頂讓x媒合服務</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WYGWDVW5BK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WYGWDVW5BK');
    </script>
    <!-- Hotjar Tracking Code for https://liove-netchef.vercel.app/ -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:2426355,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
