<template>
  <Layout class="layout">
    <div class="section">
      <h1>網頁建置中<br>敬請期待！</h1>
      <div class="coming-soon"></div>
    </div>
  </Layout>
</template>

<script>
import Layout from '@/layouts/Layout.vue'
export default {
  components: { 
    Layout
  }
}
</script>
<style lang="scss" scoped>
.layout {
  padding-top: $header-h;
  .section {
    display: flex;
    height: $wrapper-h;
    flex-direction: column;
    justify-content: space-evenly;
  }
  h1 {
    color: $primary;
    text-align: center;
  }
  .coming-soon {
    height: calc((#{$wrapper-h}*0.75) - #{$header-h});
    background-image: url('../assets/images/bg/coming-soon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}
</style>
