<template>
<Layout>
  <section class="main">
    <div class="contain">
      <h1>精準、快速媒合</h1>
      <h2>找到最適合的雲端廚房</h2>
      <b-button variant="secondary" href="#intro">免費體驗</b-button>
    </div>
  </section>
  <section id="intro" class="intro">
    <div class="contain" style="max-width: 1080px;">
      <h2>專注雲端廚房此趨勢產業生態</h2>
      <h2>精準迅速媒合平台兩端客群</h2>
      <div class="content">
        <div class="feature">
          <h4>出租方</h4>
          <FeatureCard :img="require('@/assets/images/bg/landlord.jpg')">
            <ul>
              <li>
                <span class="icon">&#10004;</span>
                <span>活用空間
大幅增加出租率</span>
              </li>
              <li>
                <span class="icon">&#10004;</span>
                <span>創造收入
或分攤租金負擔</span>
              </li>
              <li>
                <span class="icon">&#10004;</span>
                <span>30分鐘內由專人
回覆與解決問題</span>
              </li>
            </ul>
          </FeatureCard>
          <b-button variant="light" href="https://forms.gle/Fb6ZNf9r8tSR8nFF7" target="_blank">我要刊登</b-button>
        </div>
        <div class="feature">
          <h4>承租方</h4>
          <FeatureCard :img="require('@/assets/images/bg/tenant.jpg')">
            <ul>
              <li>
                <span class="icon">&#10004;</span>
                <span>快速且準確
找到理想店點</span>
              </li>
              <li>
                <span class="icon">&#10004;</span>
                <span>可負擔租金
合適使用面積</span>
              </li>
              <li>
                <span class="icon">&#10004;</span>
                <span>免費專人回覆
分析篩選店點</span>
              </li>
            </ul>
          </FeatureCard>
          <b-button variant="secondary" href="https://forms.gle/U3RGdgSnWA3Nq99h7" target="_blank">我要發案</b-button>
        </div>
      </div>
    </div>
  </section>
  <section id="ads" class="ads">
    <div class="ad">
      <h3>網廚台中承租服務</h3>
      <p>最新的實體分隔雲端廚房，承租方案任你選！</p>
      <b-button variant="outline-primary" href="https://m.facebook.com/netchef.tw/" target="_blank">
        了解更多
      </b-button>
    </div>
  </section>
</Layout>
</template>

<script>
import Layout from '@/layouts/Layout.vue'
import FeatureCard from '@/components/FeatureCard.vue'

export default {
  components: { 
    Layout,
    FeatureCard
  }
}
</script>
<style lang="scss" scoped>
.main {
  height: 94vh;
  padding-top: $header-h;
  background-image: url('../assets/images/bg/home-bg.jpg');
  background-size: cover;
  background-position: top center;
  color: #fff;
  .contain {
    padding-left: 12vw;
  }
  h1 {
    color: $secondary;
    margin-top: 12vh;
  }
  .btn {
    width: 150px;
    margin-top: 10vh;
    &:hover {
      width: 350px;
    }
  }
}
.intro {
  min-height: 100vh;
  background-color: $primary;
  color: #fff;
  text-align: center;
  padding-top: 4.8vh;
  h2 {
    &::after {
      display: block;
      content: '';
      width: 6.5em;
      height: 25px;
      background-image: url('../assets/images/icons/highlight.svg');
      background-size: 100% 100%;
      margin: 0 auto;
      transform: translate(-3em, -12px);
      opacity: 0.9;
    }
  }
  .content {
    display: flex;
    margin: 0 auto;
    margin-top: 5vh;
    .feature {
      padding: 0 3vw;
      flex-basis: 50%;
    }
    ul {
      margin-top: -30px;
      padding-bottom: calc(85px / 2);
      font-size: $h5;
      text-align: left;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .icon {
      color: $secondary;
      font-size: $h3;
      margin-right: 12px;
    }
    h4 {
      color: $secondary;
      margin-bottom: 15px;
    }
    .btn {
      margin-top: 13vh;
      min-width: 50%;
    }
  }
}
.ads {
  height: 250px;
  .ad {
    padding: 30px 5px 0 5px;
    margin: 0 auto;
    max-width: 900px;
    height: 100%;
    background-image: url('../assets/images/bg/rent-service-bg.jpg');
    background-position: center 80%;
    background-size: cover;
    color: $primary;
    text-align: center;
    p {
      font-size: $h5;
    }
    .btn {
      width: 220px;
      margin-top: 25px;
    }
  }
}
@media (max-width: 576px) {
  .main {
    background-image: url('../assets/images/bg/m-home-bg.jpg');
    .btn:hover {
      width: calc(150px + 30vw);
    }
  }
  .ads .ad {
    width: 100vw;
    background-size: 150% 100%;
  }
  .content {
    .feature {
      ul {
        padding-bottom: 2vh;
      }
      li {
        white-space: pre-wrap;
        font-size: 1rem;
        margin-bottom: 2vh;
      }
      .icon {
        font-size: $h5;
        margin-right: 3px;
      }
    }
  }
}
</style>
<style>
.feature .avatar {
  width: calc(85px + 2vw);
  height: calc(85px + 2vw);
  border-radius: 50%;
}
.feature .feature-card {
  border: 1px solid var(--secondary);
  transform: translateY(calc(calc(85px + 2vw) / 2));
  position: relative;
}
.feature .feature-card::after {
  display: block;
  content: '';
  border: 5px solid var(--secondary);
  position: absolute;
  top: 0;
  margin: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  z-index: -1;
}
@media (max-width: 576px)  {
  .feature .feature-card::after {
    margin: 3px;
    border: 3px solid var(--secondary);
    width: calc(100% - 6px);
    height: calc(100% - 6px);
  }
}
@media (max-width: 350px) {
  .intro .contain .content .feature {
    padding: 0 2vw;
  }
  .intro .contain .content {
    margin-top: 0;
  }
  .intro .content .btn {
    margin: 10vh 0 30px 0;
  }
}
</style>
