<template>
  <div class="feature-card">
    <div class="avatar" :style="{backgroundImage: `url(${img})`}">{{ title }}</div>
    <slot></slot>
  </div>
</template>
<script>
export default {
  props: {
    img: {
      type: String
    },
    title: {
      type: String
    }
  }
}
</script>
<style lang="scss" scoped>
.avatar {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  transform: translateY(-50%);
}
</style>
