<template>
  <ul class="bar fixed-bottom">
    <li>
      <a href="/">
        <b-icon-house-fill></b-icon-house-fill>首頁
      </a>
    </li>
    <li>
      <a id="more">
        <b-icon-menu-button-wide-fill></b-icon-menu-button-wide-fill>更多
      </a>
    </li>
    <li>
      <a href="https://line.me/ti/p/@798csvcw">
        <div class="line-fill-blue"></div>聯絡我
      </a>
    </li>
    <li>
      <a href="#main">
        <b-icon-chevron-bar-up class="rounded-circle bg-primary p-1" variant="light"></b-icon-chevron-bar-up>
        置頂
      </a>
    </li>
  </ul>
</template>
<script>
import { BIconHouseFill, BIconMenuButtonWideFill, BIconChevronBarUp } from 'bootstrap-vue'

export default {
  components: { 
    BIconHouseFill,
    BIconMenuButtonWideFill,
    BIconChevronBarUp
  },
  methods: {
    goTop () {
      const rootEle = document.documentElement
      rootEle.scrollTo({
        top: 0,
        behavior: 'smooth',
      })
    }
  },
  mounted() {
    document.querySelector('#more').addEventListener('click',()=> {
      document.body.style.overflow = 'hidden'
      document.getElementById('sidebar-backdrop').style.left = 0
      document.querySelector('.b-sidebar-backdrop').style.display = ''
    })
  }
}
</script>
<style lang="scss" scoped>
.bar {
  display: flex;
  background-color: #fff;
  box-shadow: 0 -3px 6px rgba(0,0,0,0.16);
  li {
    flex-grow: 1;
    color: $primary;
    text-align: center;
    padding: 0.8vh 0 0 0;
    font-weight: 500;
    a {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
    }
    svg {
      font-size: 20px;
    }
  }
  .line-fill-blue {
    width: 20px;
    height: 20px;
  }
}
</style>
