<template>
  <div @mouseover="onOver" @mouseleave="onLeave">
    <b-nav-item-dropdown id="dropdown-1" :html="text" ref="dropdown">
      <slot></slot>
    </b-nav-item-dropdown>
  </div>
</template>

<script>
export default {
  name: "b-dropdown-hover",
  props: {
    text: {
      type: String
    }
  },
  methods: {
    onOver() {
      this.$refs.dropdown.visible = true;
    },
    onLeave() {
      this.$refs.dropdown.visible = false;
    }
  }
};
</script>