<template>
  <footer id="footer">
    <div class="media">
      <a href="tel:+886-911711706" title="Phone" id="phone">
        <b-icon-telephone-fill class="rounded bg-primary p-1" variant="secondary"></b-icon-telephone-fill>
        <b-tooltip target="phone" placement="bottom" custom-class="tip">
          0911711706
        </b-tooltip>
      </a>
      <a href="mailto:s8900771@gmail.com?cc=incubus2540@gmail.com" title="Email" target="_top" id="email">
        <b-icon-envelope-fill class="rounded bg-primary p-1" variant="secondary"></b-icon-envelope-fill>
        <b-tooltip target="email" placement="bottom" custom-class="tip">
          s8900771@gmail.com
        </b-tooltip>
      </a>
      <a href="https://line.me/ti/p/@798csvcw" title="Line" target="_blank" id="line">
        <img src="@/assets/images/icons/line.svg" alt="Line">
        <b-tooltip target="line" placement="bottom" custom-class="tip">
          @798csvcw
        </b-tooltip>
      </a>
    </div>
    <div class="link">
      <a href="#footer">隱私權政策</a>&emsp;|&emsp;<a href="#footer">服務條款</a>
    </div>
    <p class="copy-right">
      Copyright © 2021 NETChef. All Rights Reserved.
    </p>
  </footer>
</template>

<script>
import { BIconEnvelopeFill, BIconTelephoneFill } from 'bootstrap-vue'
export default {
  components: { 
    BIconEnvelopeFill,
    BIconTelephoneFill
  }
}
</script>

<style lang="scss" scoped>
footer {
  background-color: $secondary;
  padding: 25px 0;
  color: $primary;
  text-align: center;
  svg, img {
    font-size: 30px;
    transition: all 0.3s;
  }
  .media {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      margin: 0 40px;
      &:hover svg, &:hover img {
        transform: scale(1.5);
      }
    }
  }
  .link {
    font-size: $small;
    margin-top: 25px;
    a {
      transition: color 0.3s;
      &:hover {
        color: rgba($primary,0.5);
      }
    }
  }
  .copy-right {
    font-size: $small;
    color: rgba(#fff,0.8);
    margin-top: 12px;
  }
}
.tip {
  margin-top: 5px;
}
</style>
