<template>
<header class="fixed-top">
   <b-navbar toggleable="lg" type="dark" class="contain px-4">
    <!-- mobile -->
    <b-navbar-toggle id="toggle"></b-navbar-toggle><!-- mobile menu icon -->
    <b-sidebar id="sidebar-backdrop" ref="sidebar" :backdrop-variant="'dark'" backdrop shadow @change="open">
      <ul class="sidebar">
        <li class="title">房東區</li>
        <li>
          <a href="https://forms.gle/Fb6ZNf9r8tSR8nFF7" target="_blank" @click="hide">
            <b-icon-arrow-bar-left></b-icon-arrow-bar-left>
            要出租
          </a>
        </li>
        <li class="title">租客區</li>
        <li>
          <a href="https://forms.gle/U3RGdgSnWA3Nq99h7" target="_blank" @click="hide">
            <b-icon-cursor-fill></b-icon-cursor-fill>
            去發案
          </a>
        </li>
        <li class="title">服務區</li>
         <li>
          <a href="https://www.facebook.com/groups/430132911623758">
            <b-icon-arrow-bar-right></b-icon-arrow-bar-right>
            媒合區
          </a>
        </li>
        <li>
          <a href="https://m.facebook.com/netchef.tw/">
            <img src="@/assets/images/icons/new.svg" alt="服務">
            租網廚
          </a>
        </li>
        <li>
          <a href="/coming-soon">
            <b-icon-person-lines-fill style="font-size: 140%;"></b-icon-person-lines-fill>
            看評價
          </a>
        </li>
        <li>
          <a id="contact">
            <b-icon-telephone-fill></b-icon-telephone-fill>
            聯絡我
          </a>
        </li>
      </ul>
    </b-sidebar>
    <b-navbar-brand href="/" title="首頁">
      <img src="@/assets/images/logo/logo.png" alt="logo" class="logo">
    </b-navbar-brand>
    <!-- desktop -->
    <b-collapse id="nav-collapse" class="justify-content-around" is-nav>
      <b-navbar-nav class="w-75 justify-content-around">
        <b-nav-item href="https://forms.gle/Fb6ZNf9r8tSR8nFF7" target="_blank" title="房東區-要出租">
          <img src="@/assets/images/icons/desktop/rent.svg" alt="房東">要出租
        </b-nav-item>
        <b-nav-item href="https://forms.gle/U3RGdgSnWA3Nq99h7" target="_blank" title="租客區-去發案">
          <img src="@/assets/images/icons/desktop/tenant.svg" alt="租客">去發案
        </b-nav-item>
        <b-nav-item href="https://www.facebook.com/groups/430132911623758" target="_blank" title="服務區-媒合區">
          <img src="@/assets/images/icons/desktop/service.svg" alt="服務">媒合區
        </b-nav-item>
        <b-nav-item href="#ads" title="服務區-租網廚">
          <img src="@/assets/images/icons/desktop/service.svg" alt="服務">租網廚
        </b-nav-item>
        <b-nav-item href="/coming-soon" title="服務區-看評價">
          <img src="@/assets/images/icons/desktop/service.svg" alt="服務">看評價
        </b-nav-item>
        <b-nav-item title="服務區-聯絡我" @click="goBottom" href="#footer">
          <img src="@/assets/images/icons/desktop/service.svg" alt="服務">聯絡我
        </b-nav-item>
        <!-- dropdown -->
        <!-- <b-navbar-nav class="w-50 justify-content-around">
          <b-dropdown-hover :text="`<img src='${require('@/assets/images/icons/desktop/rent.svg')}' alt='房東'>房東區`">
            <b-dropdown-item>要出租</b-dropdown-item>
          </b-dropdown-hover>
          <b-dropdown-hover :text="`<img src='${require('@/assets/images/icons/desktop/tenant.svg')}' alt='租客'>租客區`">
            <b-dropdown-item>要承租</b-dropdown-item>
            <b-dropdown-item>去發案</b-dropdown-item>
          </b-dropdown-hover>
          <b-dropdown-hover :text="`<img src='${require('@/assets/images/icons/desktop/service.svg')}' alt='服務'>服務區`">
            <b-dropdown-item>租網廚</b-dropdown-item>
            <b-dropdown-item>看評價</b-dropdown-item>
            <b-dropdown-item>聯絡我</b-dropdown-item>
          </b-dropdown-hover>
        </b-navbar-nav> -->
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</header>
</template>

<script>
import { BIconArrowBarLeft, BIconArrowBarRight, BIconCursorFill, BIconTelephoneFill, BIconPersonLinesFill } from 'bootstrap-vue'
// import BDropdownHover from './common/DropdownHover.vue'
export default {
  components: { 
    BIconArrowBarLeft,
    BIconArrowBarRight,
    BIconCursorFill,
    BIconTelephoneFill,
    BIconPersonLinesFill
    // BDropdownHover
  },
  methods: {
    open () {
      const ele = document.getElementById('sidebar-backdrop');
      if (ele.style.display) {
        document.body.style.overflow = 'hidden'
      } else {
        document.body.style.overflow = 'auto'
      }
    },
    goBottom () {
      const rootEle = document.documentElement
      rootEle.scrollTo({
        top: rootEle.scrollHeight,
        behavior: 'smooth',
      })
    },
    hide () {
      document.body.style.overflow = 'auto'
      document.querySelector('.b-sidebar-backdrop').style.display = 'none'
      document.getElementById('sidebar-backdrop').style.left = '-100%'
      // this.$refs.sidebar.hide()
    },
    mobileContact () {
      this.hide()
      this.goBottom()
    }
  },
  mounted() {
    document.querySelector('#toggle').addEventListener('click',()=> {
      document.body.style.overflow = 'hidden'
      document.getElementById('sidebar-backdrop').style.left = 0
      document.querySelector('.b-sidebar-backdrop').style.display = ''
    })
    document.querySelector('#sidebar-backdrop .close').addEventListener('click',()=> {
      this.hide()
    })
    document.querySelector('#contact').addEventListener('click',()=> {
      this.mobileContact()
    })
  }
}
</script>

<style lang="scss" scoped>
header {
  background-color: $primary;
  box-shadow: 0 1px 6px rgba(255,255,255,0.3);
  .logo {
    height: 5vh;
    max-height: 30px;
  }
  .sidebar {
    width: 8em;
    margin: 0 auto;
    .title {
      font-size: $h3;
      font-weight: bold;
      margin: 2vh 0;
    }
    a {
      font-size: $h4;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:hover {
        color: $secondary;
      }
    }
    li {
      color: #fff;
      &:not(.title) {
        margin-left: 1.5em;
        padding-bottom: 3vh;
      }
      svg {
        font-size: 150%;
      }
      .bi-telephone-fill, .bi-cursor-fill {
        font-size: 120%;
      }
    }  
  }
}
@media (max-width: 991.98px) {
  .navbar-brand {
    margin: 0 auto;
  }
}
</style>
<style>
header #sidebar-backdrop {
  background-color: var(--primary)!important;
  width: 80%;
  left: -100%;
  display: block!important;
  transition: all 0.5s;
}
header #sidebar-backdrop .close {
  color: #fff!important;
}
header #nav-collapse img {
  height: 20px;
  margin-bottom: 5px;
  margin-right: 0.5rem;
}
header #nav-collapse a:hover img, header #nav-collapse a:hover span {
  transition: opacity 0.15s ease-in-out;
  opacity: 0.8;
  color: rgba(255,255,255,0.8);
} 
</style>
