<template>
  <a href="https://line.me/ti/p/@798csvcw" id="qr" title="Line" target="_blank" class="btn btn-primary btn-fixed">
    <img src="@/assets/images/icons/line-fill.svg" alt="Qr Code" width="36">
    <b-tooltip target="qr" boundary-padding="10">
      <img src="@/assets/images/icons/qr-code.png" alt="Qr Code">
    </b-tooltip>
  </a>
</template>
<script>
export default {
}
</script>
<style lang="scss" scoped>
</style>
