<template>
  <b-button variant="primary" class="btn-icon btn-scroll-to-top btn-fixed" href="#main">
    <b-icon-chevron-bar-up font-scale="2"></b-icon-chevron-bar-up>
  </b-button>
</template>
<script>
import { BIconChevronBarUp } from 'bootstrap-vue'

export default {
  components: {
    BIconChevronBarUp
  },
  methods: {
    goTop () {
      const rootEle = document.documentElement
      rootEle.scrollTo({
        top: 0,
        behavior: 'smooth',
      })
    },
  }
}
</script>
<style lang="scss" scoped>
.btn-scroll-to-top {
  margin-top: 15px;
  transition: all .5s ease;
}
</style>
