<template>
  <div>
    <BottomBar class="bottom-bar" id="bottomBar"></BottomBar>
    <Header class="header" id="head"></Header>
    <main :class="{'wrapper contain': $route.path != '/'}" id="main">
      <slot></slot>
    </main>
    <Footer :class="['footer', {'hasBar': $route.path != '/coming-soon/'}]"></Footer>
    <div class="fixed-area" id="fixedArea">
      <QrCode></QrCode>
      <ScrollToTop></ScrollToTop>
    </div>  
  </div>
</template>

<script>
import Header from '@/components/common/Header.vue'
import Footer from '@/components/common/Footer.vue'
import ScrollToTop from '@/components/common/ScrollToTop.vue'
import QrCode from '@/components/common/QrCode.vue'
import BottomBar from '@/components/common/BottomBar.vue'
import { useWindowScroll, useWindowSize } from '@vueuse/core'

export default {
  components: { 
    Header,
    Footer,
    ScrollToTop,
    QrCode,
    BottomBar
  },
  methods: {
    scrollHandler () {
      const { y } = useWindowScroll()
      const { height } = useWindowSize()
      if (y.value > height.value * 0.9) {
        document.getElementById('head').classList.add('slide-top')
        document.getElementById('bottomBar').classList.remove('hide')
        document.getElementById('fixedArea').classList.remove('hide')
        this.isShow = true
      } else {
        document.getElementById('head').classList.remove('slide-top')
        document.getElementById('bottomBar').classList.add('hide')
        document.getElementById('fixedArea').classList.add('hide')
        this.isShow = false
      }
    }
  },
  mounted () {
    document.getElementById('bottomBar').classList.add('hide')
    document.getElementById('fixedArea').classList.add('hide')
    window.addEventListener('scroll', this.scrollHandler)
  },
  unmounted () {
    window.removeEventListener('scroll', this.scrollHandler)
  },
  data () {
    return {
      isShow: false
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  min-height: $wrapper-h;
  margin: $wrapper-t auto $wrapper-b auto;
}
.fixed-area {
  position: fixed;
  right: 3vw;
  z-index: 99;
  bottom: 5%;
  display: flex;
  flex-direction: column;
}
.bottom-bar {
  display: none;
}
.hide {
  opacity: 0;
}
@media (max-width: 576px) {
  .wrapper {
    min-height: calc(#{$wrapper-h} - #{$bottomBar-h});
  }
  .hasBar {
    margin-bottom: $bottomBar-h;
  }
  .header {
    transition: top 0.5s;
  }
  .slide-top {
    top: calc(0px - #{$header-h});
  }
  .fixed-area {
    display: none;
  }
  .bottom-bar {
    display: flex;
  }
}
</style>
